$navWidth: 100px;
$meatWidth: 28px;
$meatHeight: 2px;
$burgerContainerHeight: 4rem;

// colors
$black: #111;
$lightGrey: #f7f7f7;
$greyTableBorder: #eeeeee;
$grey: #9b9b9b;
$darkGrey: #717171;
$white: #fff;
$primary: #9F6786;
$color-bg: #394955;
$color-fg: #3F7EA6;
$color-text: #9CADBC;
$color-highlight: #9F6786;
$color-accent: #F9F871;
$color-card: #2b3741;
$color-shadow: rgba(0, 0, 0, 0.5);

// screenSizes
$medium: 800px;
$large: 1400px;

// import site overrides after variables after
// variables have been declared
@import "../overrides";
