@import "../main";
@import "../partials/post-list";

.tags__list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 50px;
  flex-shrink: 0;

  @media screen and (max-width: $medium - 1) {
    display: none;
  }
}

.post__header .tags__list {
  display: none;
  padding-left: 0;

  @media screen and (max-width: $medium - 1) {
    display: block;
  }

  .tag__item {
    display: inline-block;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .tag__link {
    font-size: 0.8rem;
  }
}

.post {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto 1.5rem;
  padding: $card-padding;
  background-color: $color-card;
  box-shadow: 0 0 10px 0 $color-shadow;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    .post__title::after {
      right: -4rem;
    }
  }

  &__title {
    background-color: $color-accent;
    color: $color-card;
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
    z-index: 1;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: $card-padding;
        top: 0;
        bottom: 0;
        background-color: $color-accent;
        z-index: -1;
    }

    &::before {
      left: -$card-padding;
    }
    &::after {
        width: 4.1rem;
        right: -$card-padding;
        clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 50%, calc(100% - 1rem) 100%, 0 100%);
        transform-origin: left;
        z-index: -1;
        transition: right 250ms ease-in-out;
    }
  }

  &__date {
    display: block;
  }

  &__content {
    color: $color-text;
  }

  &__footer {
    text-align: end;
    a {
      color: $color-accent;  
    }
  }
}


@media screen and (max-width: $medium) {
  .post {
    &__date {
      display: none;
    }
  }
  
  .tags__list {
    display: none;
  }
}

.post-list {
  width: 100%;
  max-width: 48rem;
}

.tag__link {
  text-decoration: none;
  color: $grey;
  font-size: 0.9rem;

  &::before {
    content: "#";
    font-size: 0.7rem;
    padding-right: 1px;
  }

  &:hover {
    color: $darkGrey;
  }
}

/* page overrides */
.post-list__container {
  display: flex;
  justify-content: center;
}
