{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}  

<div class="post-list__container">
  <ul class="post-list">
    {{ range .Site.RegularPages }}
      {{ partial "post-list-item" .}}
    {{ end }}
  </ul>
  {{ partial "browse-by-tag.html" .}}
</div>

{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" .}}
{{end}}

{{ define "scripts" }}
  <script>
    const posts = document.getElementsByClassName("post");
    for (let post of posts) {
      console.log('click', post.dataset);
      post.addEventListener('click', () => {
        window.location.href = post.dataset.link;
      });
    };
  </script>
{{ end }}